@import url('https://unpkg.com/normalize.css') layer(normalize);

@layer normalize, base, demo;

@layer demo {
  :root {
    --accent: hsl(10 20% 30%);
    --island-margin: 20px;
    --island-height: 40px;
    --island-width: 350px;
    --avatar-size: calc(var(--island-width) * 0.58);
    --avatar-position: calc(
      var(--island-height) + (var(--island-margin) * 1.65)
    );
    --header-margin: 0.1rem;
    --header-height: calc(
      var(--island-margin) + var(--avatar-position) + var(--avatar-size) + 1lh +
        var(--header-margin)
    );
    --header-font: 3rem;
  }

  header {
    position: sticky;
    top: calc(var(--header-height) * -0.65);
    height: 240px;
    width: 100%;
    font-size: var(--header-font);
    animation: block both linear;
    animation-timeline: scroll(root);
    transform-origin: 50% 0;
    animation-range: 0 calc(var(--header-height) * 0.65);
    z-index: 2;
    
  }
  [data-debug='true'] header {
    outline: 4px dashed red;
  }
  @keyframes block {
    to {
      background: canvas;
      box-shadow: 0 0 20px 5px hsl(0 0% 0% / 0.25);
    }
  }

  .island__container {
    width: var(--island-width);
    height: var(--island-height);
    border-radius: var(--island-height);
    position: fixed;
    top: 20px;
    left: 50%;
    translate: -50% -0%;
    background: rgb(182, 60, 60);
    
    
  }

  .island__bar {
    width: var(--island-width);
    height: var(--island-height);
    border-radius: var(--island-height);
    background: rgb(0, 0, 0);
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% 0%;
    z-index: 1;
  }
  .island {
    filter: url(#fancy-goo);
  }

  .island__bar::after {
    content:'';
    position: relative;
    left: 0%;
    top: 0%;
    height: 100%;
    aspect-ratio: 1;
    z-index: 2;
    background: radial-gradient(rgb(0, 0, 0) calc(60% - 1px), transparent 30%);
    border-radius: 50%;
  }

  .avatar {
    width: var(--avatar-size);
    aspect-ratio: 1;
    border-radius: 50%;
    background: black;
    position: fixed;
    left: 50%;
    top: var(--avatar-position);
    translate: -50% 0;
    
  }

  /* Scroll stuff */
  body {
    display: flex;
    background: canvas;
    background-color: rgba(15, 9, 31, 0.897);
    flex-direction: column;
    min-height: calc(100svh + var(--header-height));
  }

  main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
  }

/*   .nameProfile {
    margin: 0;
    position: fixed;
    font-size: 3rem;
    color: antiquewhite;
    top: calc(var(--header-height) + var(--header-margin));
    translate: -50% -100%;
    left: 50%;
    animation: scale both linear;
    animation-timeline: scroll(root);
    transform-origin: 50% 0;
    animation-range: 0 calc(var(--header-height) * 0.65);
    font-family: monospace;
  } */

  .avatar {
    overflow: hidden;
    animation: shrink both linear;
    animation-timeline: scroll(root);
    animation-range: 0 calc(var(--header-height) * 0.65);
    transform-origin: 50% 0;  
    
  }

  .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    animation: fade both linear;
    animation-timeline: scroll(root);
    animation-range: 0 calc(var(--header-height) * 0.425);
  }

  @keyframes shrink {
    to {
      translate: -50% calc(var(--avatar-position) * -1);
      scale: 0.2;
    }
  }
  @keyframes scale {
    to {
      translate: -50%
        calc(
          (
              (var(--header-height) + var(--header-margin)) -
                var(--avatar-position)
            ) * -1
        );
      scale: 0.4;
    }
  }
  @keyframes fade {
    to {
      filter: blur(10px);
      opacity: 0;
    }
  }
}

@layer base {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
      Helvetica, Arial, sans-serif, system-ui;
  }

 

  body::before {
    --size: 45px;
    --line: color-mix(in lch, canvasText, rgba(192, 177, 177, 0.719)  60% );
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 50%, rgb(49, 50, 107));
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }


  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}


/* Nav */

a{
  text-decoration-line: none;
  color: rgb(248, 221, 221);
}
ul{
  display: flex;
  position: relative;
  left: -13px;
  width: 350px;
  justify-content: space-around;
}
.menubt{
  --color: #361818;
  top: -43px;
  padding: 0.34em;
  margin: 0px 3px 0px px;
  text-align: center;
  background-color: transparent;
  border-radius: .6em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .menubt::before, .menubt::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }


 
 .menubt::before {
  top: -1em;
  left: -1em;
 }
 
 .menubt::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .menubt:hover::before, .menubt:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .menubt:hover {
  color: rgb(0, 2, 3);
 }
 
 .menubt:active {
  filter: brightness(.8);
 }
 
