.tecnologias{
	color: white;
	position: relative;
	font-size: 2.1em;
  }

  .container-stacks{
	height: 45f0px;
	width: 700px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	padding-top: 90px;
	font-family: monospace;
  }
  .bgvc{
	background-color: aliceblue;
	padding: 4px;
	border-radius: 5px;
  }

  /* .div-timeline{
	background-color: antiquewhite;
	width: 100%;
	height: 200px;
  }
  .line-time{
	border: 1px solid black ;
	margin-top: 0px;
	width: 80%;
	margin: auto;
  } */

  
  .carousel-wrapper {
	--width: 100px;
	--gap: 0;
	--num-items: 10;
	--ani-offset: calc(var(--width) * var(--num-items) * -1);
	--ani-speed: 40s;
	
	width: 600px;
	overflow: hidden;
	position: relative;
  }
  .carousel-wrapper::before,
  .carousel-wrapper::after{
	content: '';
	position: absolute;
	width: 20%;
	height: 100%;
	z-index: 1;
	top: 0;
  }
  .carousel-wrapper::before{
	left: 0;
	background-image: linear-gradient(to right,var(--bg-clr) 0%,transparent 50%);
  }
  .carousel-wrapper::after{
	right: 0;
	background-image: linear-gradient(to left,var(--bg-clr) 0%,transparent 50%);
  }
  
  .carousel {
	display: flex;
	align-items: center;
	animation: slide var(--ani-speed) linear infinite;
  }
  .carousel-2 {
	display: flex;
	align-items: center;
	animation: slide var(--ani-speed) reverse linear infinite;
  }


  .item{
	flex: 1 0 var(--width);
	text-align: center;
	padding:1rem;
  }

  .item > img{
	width: 100%;
	height: auto;
	object-fit: cover;
  }
  
  @keyframes slide {
	100% {
	  transform: translateX(var(--ani-offset));
	}
  }
  



  /* Media Query */
  @media only screen and (max-width: 530px) {
	.container-stacks{
	  justify-content: center;
	  align-content: center;
	  width: 400px;
	}
	.container-stacks{
		height: 470px;
		width: 400px;
		margin: auto;
		margin-top: 50px;
		margin-bottom: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	  	align-content: center;
	  }
	  .carousel-wrapper {
		--width: 90px;
		--gap: 0;
		--num-items: 10;
		--ani-offset: calc(var(--width) * var(--num-items) * -1);
		--ani-speed: 40s;
		width: 396px;
		overflow: hidden;
		position: relative;
	  }
	  .carousel-wrapper::before,
	  .carousel-wrapper::after{
		content: '';
		position: absolute;
		width: 20%;
		height: 100%;
		z-index: 1;
		top: 0;
	  }
  }

  @media only screen and (min-width:531px) and (max-width: 650px)   {
	.container-stacks{
		justify-content: center;
		align-content: center;
		width: 550px;
	  }
	  .container-stacks{
		  height: 470px;
		  width: 550px;
		  margin: auto;
		  margin-top: 50px;
		  margin-bottom: 50px;
		  display: flex;
		  align-items: center;
		  justify-content: center;
			align-content: center;
		}
		.carousel-wrapper {
		  --width: 90px;
		  --gap: 0;
		  --num-items: 10;
		  --ani-offset: calc(var(--width) * var(--num-items) * -1);
		  --ani-speed: 40s;
		  width: 545px;
		  overflow: hidden;
		  position: relative;
		}
		.carousel-wrapper::before,
		.carousel-wrapper::after{
		  content: '';
		  position: absolute;
		  width: 20%;
		  height: 100%;
		  z-index: 1;
		  top: 0;
		}
	}