.container-resumo, .container-stacks{
 display: flex;
 margin: auto;
 justify-content: center;
 top: 10px;
 padding-top: 60px;
 position:relative;
}

figure , .container-time, .container-stacks {
  position: relative;
  width: 100%;
  max-width: 700px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  animation: c 10s linear infinite;
}

@keyframes c {
  from {
    backdrop-filter: blur(2vmin) hue-rotate(0deg);
    -webkit-backdrop-filter: blur(2vmin) hue-rotate(0deg);
  }
  to {
    backdrop-filter: blur(2vmin) hue-rotate(360deg);
    -webkit-backdrop-filter: blur(2vmin) hue-rotate(360deg);
  }
}

figure::after {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 60px;
  height: 60px;
  background-image: linear-gradient(
    320deg,
    #ff20fb,
    #f424ff,
    #d42dff,
    #b139ff,
    #9742ff,
    #8d46ff
  );
  content: "";
  z-index: -1;
  animation: d 5s linear infinite;
}

@keyframes d {
  from {
    filter: hue-rotate(0deg) brightness(1.5);
    transform: rotateZ(0deg);
    border-radius: 0;
  }
  50% {
    border-radius: 49%;
    filter: hue-rotate(180deg) brightness(1.5);
  }
  to {
    filter: hue-rotate(360deg) brightness(1.5);
    transform: rotateZ(360deg);
    border-radius: 0;
  }
}

.tituloResumo {
  font-family: monospace;
  border-right: 4px solid;
  overflow: hidden;
  width: 25ch;
  animation: escrever 3s steps(25), esconder 3.5s infinite step-end alternate ;
  font-size: 40px;
  line-height: 1.5cap;
  text-wrap: nowrap;
  color: white;
  margin-bottom: 20px;
}

@keyframes escrever {
    from{
        width: 0;
    }
}
@keyframes esconder {
    50%{
        border-color: transparent ;
    }
}

.tituloName {
    margin: auto;
    display: flex;
    justify-content: end;
    position: relative;
    color: white;
    top: -16px;
    left: 100px;
    font-family: monospace;
    font-size: 2em;
  }
  
figcaption {
  font-family: "Figtree", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 2cap;
  text-wrap: pretty;
  padding-left: 30px;
  border-left: 1px solid white;
  color: #bbb;
}

@media (max-width: 780px) {
  figure {
    max-width: 90%;
  }
}

@media (max-width: 600px) {
    .tituloResumo {
    font-size: 32px;
  }
  figcaption {
    font-size: 16px;
  }
}



.spinner {
    --s: 9px;
    width: 56px;
    height: 56px;
    background: #e73535;
    border-radius: 20%;
    animation: spinner-ehcge9 3.5s infinite linear;
    position: fixed;
    justify-content: center;
    top: -20px;
    left: -10px;
    display: flex;
    clip-path: polygon(0 0,calc(50% - var(--s)) 0,50% var(--s),calc(50% + var(--s)) 0,100% 0,100% calc(50% - var(--s)),calc(100% - var(--s)) 50%,100% calc(50% + var(--s)),100% 100%,calc(50% + var(--s)) 100%, 50% calc(100% - var(--s)),calc(50% - var(--s)) 100%,0 100%,0 calc(50% + var(--s)), var(--s) 50%, 0 calc(50% - var(--s)));
  }
  
  @keyframes spinner-ehcge9 {
    100% {
      transform: rotate(-0.5turn);
    }
  }


  /* Social Media */

  .container {
    position: relative;
    width: 250px;
   /*  choose your size */
    display: flex;
    flex-direction: row;
    gap: 10px;
    top: 45px;
  }
  
  .container .buttonSC {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #313638;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .icon {
    width: 26px;
    height: 26px;
    fill: #fff;
  }
  
  .container .buttonSC:nth-child(1):hover {
    background-color: #2753a7;
  }
  
  .container .buttonSC:nth-child(2):hover {
    background-color: #cd242b;
  }
  
  .container .buttonSC:nth-child(3):hover {
    background-color: #55acee;
  }
  
  .container .buttonSC:nth-child(4):hover {
    background-color: #0274b3;
  }
  
  .title {
    color: gray;
    font-weight: 700;
    font-size: 17px;
    position: absolute;
    top: -35px;
    left: 0;
  }




  /* Botão de Download */
  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
    text-wrap: nowrap;
    left: 10px;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #ededee;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #313638;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
   
  }
  
  .button_text {
    position: relative;
   
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }
  
  